@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Enter your name:</h3>
    <form method="post" action="/Home/HelloName">
        <input type="text" name="name"/>
        <button type="submit">Submit</button>
    </form>
    
</div>

